@model ELibrary_Team_1.ViewModels.DocumentViewModel

@{ Layout = null; }




<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="AddOrEdit" asp-route-id="@Model.Document.Id" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Document.Id" />
        @if (Model.Document.Id != 0)
        {
            <div class="form-group">
                <label>Image</label>
                <a href="@("Images/" + Model.Document.Image)">
                    <img src="@("~/Images/" + Model.Document.Image)" asp-append-version="true" width="50" height="50" />
                </a>
                <input type="hidden" asp-for="Document.Image" />
            </div>
        }

            <div class="form-group">
                <label asp-for="Document.Title" class="control-label"></label>
                <input asp-for="Document.Title" class="form-control" />
                <span asp-validation-for="Document.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document.Author" class="control-label"></label>
                <input asp-for="Document.Author" class="form-control" />
                <span asp-validation-for="Document.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document.Description" class="control-label"></label>
                <input asp-for="Document.Description" class="form-control" />
                <span asp-validation-for="Document.Description" class="text-danger"></span>
            </div>


            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Document.IsPublic" /> @Html.DisplayNameFor(model => model.Document.IsPublic)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CategorySelectList" class="control-label"></label>
                <select id="multiple" asp-for="CurrentCategoryList" multiple="multiple" class="selectpicker form-control" asp-items="Model.CategorySelectList">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" accept="image/*" />
                <span asp-validation-for="Document.Image" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

