@model IEnumerable<ELibrary_Team_1.Models.Document>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <link rel="stylesheet" href="~/css/home.css" />
}

<div>
    @await Html.PartialAsync("_ViewCatalog", Model)
</div>

